@model List<GuardiansExpress.Models.Entity.PurchaseDetails>

@{

    int rCnt = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchTerm = ViewData["SearchTerm"] as string;
    int currentPage = ViewData["CurrentPage"] as int? ?? 1;
    int totalPages = ViewData["TotalPages"] as int? ?? 1;
    int pageSize = ViewData["PageSize"] as int? ?? 10;

}

<!-- Include required libraries -->
<script src="~/js/site.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <form method="get" action="@Url.Action("PurchaseEntryIndex", "Purchase")" style="width:250px">
                                <div class="input-group">
                                    <label class="mt-2 mr-1">No. of records:</label>
                                    <select name="pageSize" id="PageSize" class="form-select" onchange="this.form.submit()">
                                        <option value="10" selected="@(pageSize == 10)">50</option>
                                        <option value="25" selected="@(pageSize == 100)">100</option>
                                        <option value="50" selected="@(pageSize == 500)">500</option>
                                        <option value="100" selected="@(pageSize == 1000)">1000</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-header">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="list-tab" data-bs-toggle="tab" href="#list" role="tab">List of Purchase</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="add-tab" data-bs-toggle="tab" href="#add" role="tab">Add Purchase</a>
                            </li>
                            <li class="nav-item d-none" id="editTabItem">
                                <a class="nav-link" id="edit-tab" data-bs-toggle="tab" href="#edit" role="tab">Edit Purchase</a>
                            </li>
                        </ul>
                    </div>


                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="list" role="tabpanel">
                                <h3>List of Purchases</h3>
                                <div class="table-responsive">
                                    <div class="mt-4" id="purchaseList">
                                        <h5 class="bg-light p-2">Purchase List</h5>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Date</th>
                                                    <th>Branch</th>
                                                    <th>Acc Head</th>
                                                    <th>Net Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@(rCnt++)</td>
                                                        <td>@item.InvoiceDate</td>
                                                        <td>@item.Branch</td>
                                                        <td>@item.ClientName</td>
                                                        <td>@item.NetAmount</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="add" role="tabpanel">
                        <h3>Add Purchase</h3>
                        <form id="purchaseForm" method="post" action="@Url.Action("SavePurchase", "Purchase")">
                            <div class="card-header">
                                <div class="col-md-12 mt-3">
                                    <h5 class="bg-light p-2">Purchase Details</h5>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="form-label">Branch<span class="text-danger">*</span></label>
                                            <select class="form-select" name="Branch" required>
                                                <option>GXPL HYD</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Invoice No.<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="InvoiceNumber" required>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Invoice Date<span class="text-danger">*</span></label>
                                            <input type="date" class="form-control" name="InvoiceDate" required>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Client Name<span class="text-danger">*</span></label>
                                            <div class="d-flex">
                                                <input type="text" class="form-control" name="ClientName" required>
                                                <button type="button" class="btn btn-success ms-2">+</button>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Select Address<span class="text-danger">*</span></label>
                                            <select class="form-select" name="SelectAddress" required>
                                                <option>No Address Found</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">GSTIN</label>
                                            <input type="text" class="form-control" name="GSTIN">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label class="form-label">Address<span class="text-danger">*</span></label>
                                            <textarea class="form-control" name="Address" required></textarea>
                                        </div>
                                        <div class="col-md-2 d-flex align-items-center">
                                            <div class="form-check">
                                                <input type="hidden" name="NoGST" value="false" />
                                                <input class="form-check-input" type="checkbox" name="NoGST" id="NoGST" value="true" />
                                                <label class="form-check-label" for="NoGST"> No GST </label>
                                            </div>
                                            <div class="form-check">
                                                <input type="hidden" name="DiscountOnMRP" value="false" />
                                                <input class="form-check-input" type="checkbox" name="DiscountOnMRP" id="DiscountOnMRP" value="true" />
                                                <label class="form-check-label" for="DiscountOnMRP"> Discount On MRP </label>
                                            </div>


                                        </div>



                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-2">
                                            <label class="form-label">PO No.</label>
                                            <select class="form-select" name="PONumber">
                                                <option>Nothing selected</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">PO Date</label>
                                            <input type="date" class="form-control" name="PODate">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Ch. In No.</label>
                                            <select class="form-select" name="ChallanNumber">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Ch. In Date</label>
                                            <input type="date" class="form-control" name="ChallanDate">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Cost Center</label>
                                            <select class="form-select" name="CostCenter">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Ewaybill No.</label>
                                            <input type="text" class="form-control" name="EwaybillNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h5 class="bg-light p-2">Item Details</h5>
                            <form>
                                <table class="table table-bordered" id="itemTable">
                                    <thead>
                                        <tr>
                                            <th>Item & Description</th>
                                            <th>Purchase Acc</th>
                                            <th>HSN/SAC</th>
                                            <th>MRP</th>
                                            <th>Rate</th>
                                            <th>Disc(%)</th>
                                            <th>Qty</th>
                                            <th>Free Qty</th>
                                            <th>Unit</th>
                                            <th>Amount</th>
                                            <th>Tax%</th>
                                            <th>Tax Amt</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="itemTableBody">
                                        <tr>
                                            <td><input type="text" class="form-control" name="Items[0].ItemName" placeholder="Item Name"></td>
                                            <td><input type="text" class="form-control" name="Items[0].PurchaseAcc" placeholder="Purchase Acc"></td>
                                            <td><input type="text" class="form-control" name="Items[0].HSNSAC" placeholder="HSN/SAC"></td>
                                            <td><input type="number" class="form-control" name="Items[0].MRP" value="0.00"></td>
                                            <td><input type="number" class="form-control calc" name="Items[0].Rate" value="0.00"></td>
                                            <td><input type="number" class="form-control calc" name="Items[0].Discount" value="0.00"></td>
                                            <td><input type="number" class="form-control calc" name="Items[0].Qty" value="0"></td>
                                            <td><input type="number" class="form-control" name="Items[0].FreeQty" value="0"></td>
                                            <td><input type="text" class="form-control" name="Items[0].Unit" placeholder="Unit"></td>
                                            <td><input type="number" class="form-control" name="Items[0].Amount" readonly value="0.00"></td>
                                            <td>
                                                <select class="form-select calc" name="Items[0].Tax">
                                                    <option value="0">GST@0%</option>
                                                    <option value="5">GST@5%</option>
                                                    <option value="12">GST@12%</option>
                                                    <option value="18">GST@18%</option>
                                                </select>
                                            </td>
                                            <td><input type="number" class="form-control" name="Items[0].TaxAmt" readonly value="0.00"></td>
                                            <td><input type="number" class="form-control" name="Items[0].Total" readonly value="0.00"></td>
                                            <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">X</button></td>
                                        </tr>
                                    </tbody>
                                </table>  <button type="button" class="btn btn-primary" onclick="addMoreItem()">Add More</button>
                                <div class="container mt-4">
                                    <div class="container mt-4">
                                        <h5 class="bg-light p-2">Total Amount And Tax Details</h5>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="notes" class="form-label">Notes:</label>
                                                <textarea id="notes" class="form-control" rows="4" placeholder="Enter any notes..."></textarea>
                                            </div>

                                            <div class="col-md-6">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>Gross Amount</td>
                                                        <td id="grossAmount">₹ 0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Discount</td>
                                                        <td id="totalDiscount">₹ 0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tax</td>
                                                        <td id="totalTax">₹ 0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Round Off</td>
                                                        <td id="roundOff">₹ 0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Net Amount</b></td>
                                                        <td><b class="text-danger" id="netAmount">₹ 0.00</b></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <button class="btn btn-success">
                                                        <i class="bi bi-check-circle"></i> Save
                                                    </button>
                                                    <button class="btn btn-secondary" onclick="resetForm()">
                                                        <i class="bi bi-arrow-counterclockwise"></i> Reset
                                                    </button>
                                                    <h3 Enter Purchase  </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script>
      $(document).ready(function () {
        $("#list-tab").click(function () {
            $("#list").addClass("show active");
            $("#add").removeClass("show active");
        });

        $("#add-tab").click(function () {
            $("#add").addClass("show active");
            $("#list").removeClass("show active");
        });
    });
    // Function to show the purchase list
    function showPurchaseList() {
        const listSection = document.getElementById("purchaseList");
        listSection.style.display = "block";
    }

    function addMoreItem() {
        let table = document.getElementById("itemTable").getElementsByTagName('tbody')[0];
        let newRow = table.rows[0].cloneNode(true);
        newRow.querySelectorAll('input').forEach(input => input.value = '');
        table.appendChild(newRow);
    }

    function removeRow(btn) {
        let row = btn.closest("tr");
        let table = document.getElementById("itemTable");
        if (table.rows.length > 1) {
            row.remove();
        }
    }

    function resetForm() {
        document.getElementById("purchaseForm").reset();
    }
    function addMoreItem() {
        let table = document.getElementById("itemTableBody");
        let rowCount = table.rows.length;

        let newRow = table.rows[0].cloneNode(true);
        newRow.querySelectorAll('input, select').forEach((input) => {
            let name = input.getAttribute('name');
            if (name) {
                input.setAttribute('name', name.replace(/\[\d+\]/, `[${rowCount}]`)); // Update index
            }
            input.value = '';
        });

        table.appendChild(newRow);
    }
    function calculateTotals() {
        let grossAmount = 0, totalDiscount = 0, totalTax = 0, netAmount = 0;

        document.querySelectorAll('#itemTableBody tr').forEach((row) => {
            const rate = parseFloat(row.querySelector('[name$=".Rate"]').value) || 0;
            const qty = parseFloat(row.querySelector('[name$=".Qty"]').value) || 0;
            const discount = parseFloat(row.querySelector('[name$=".Discount"]').value) || 0;
            const taxRate = parseFloat(row.querySelector('[name$=".Tax"]').value) || 0;

            const amount = rate * qty;
            const discountAmt = (amount * discount) / 100;
            const taxAmt = ((amount - discountAmt) * taxRate) / 100;
            const total = amount - discountAmt + taxAmt;

            row.querySelector('[name$=".Amount"]').value = amount.toFixed(2);
            row.querySelector('[name$=".TaxAmt"]').value = taxAmt.toFixed(2);
            row.querySelector('[name$=".Total"]').value = total.toFixed(2);

            grossAmount += amount;
            totalDiscount += discountAmt;
            totalTax += taxAmt;
            netAmount += total;
        });

        document.getElementById('grossAmount').innerText = `₹ ${grossAmount.toFixed(2)}`;
        document.getElementById('totalDiscount').innerText = `₹ ${totalDiscount.toFixed(2)}`;
        document.getElementById('totalTax').innerText = `₹ ${totalTax.toFixed(2)}`;
        document.getElementById('netAmount').innerText = `₹ ${netAmount.toFixed(2)}`;
    }

    function removeRow(button) {
        button.closest('tr').remove();
        calculateTotals();
    }

    document.addEventListener('input', function (e) {
        if (e.target.classList.contains('calc')) {
            calculateTotals();
        }
    });
</script>
