<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Resources/images/favicon.ico">

    <title>Guardians Express - Dashboard</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/Resources/src/css/vendors_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Style-->
    <link rel="stylesheet" href="~/Resources/src/css/style.css">
    <link rel="stylesheet" href="~/Resources/src/css/skin_color.css">
    <link rel="stylesheet" href="~/Resources/src/css/custom.css">
    <script src="~/js/site.js"></script>
    <!-- Include required libraries -->
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @* <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"> *@
    @* <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @*     <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

    <div class="wrapper">
        <div id="loader"></div>

        <header class="main-header">
            <div class="d-flex align-items-center logo-box justify-content-start">
                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!-- logo-->
                    <div class="logo-mini">
                        <span class="light-logo"><img src="~/Resources/images/logo-letter.png" alt="logo"></span>
                        <span class="dark-logo"><img src="~/Resources/images/logo-white-letter.png" alt="logo"></span>
                    </div>
                    <div class="logo-lg">
                        <span class="light-logo"><img src="~/Resources/images/logo-white-letter.png" alt="logo"></span>
                        <span class="dark-logo"><img src="~/Resources/images/logo-white-letter" alt="logo"></span>
                    </div>
                </a>
            </div>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <div class="app-menu">
                    <ul class="header-megamenu nav">
                        <li class="btn-group nav-item">
                            <a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light" data-toggle="push-menu" role="button">
                                <i data-feather="menu"></i>
                            </a>
                        </li>
                        <li class="btn-group d-lg-inline-flex d-none">
                            @*  <div class="app-menu">
                                <div class="search-bx mx-5">
                                    <form>
                                        <div class="input-group">
                                            <input type="search" class="form-control" placeholder="Search">
                                            <div class="input-group-append">
                                                <button class="btn" type="submit" id="button-addon3"><i class="icon-Search"><span class="path1"></span><span class="path2"></span></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> *@
                        </li>
                    </ul>
                </div>

                <div class="navbar-custom-menu r-side">
                    <ul class="nav navbar-nav">
                        <li class="dropdown notifications-menu btn-group">
                            <label class="switch">
                                <a class="waves-effect waves-light btn-primary-light svg-bt-icon">
                                    <input type="checkbox" data-mainsidebarskin="toggle" id="toggle_left_sidebar_skin">
                                    <span class="switch-on"><i data-feather="moon"></i></span>
                                    <span class="switch-off"><i data-feather="sun"></i></span>
                                </a>
                            </label>
                        </li>
                        <li class="dropdown notifications-menu btn-group ">
                            <a href="#" class="waves-effect waves-light btn-primary-light svg-bt-icon" data-bs-toggle="dropdown" title="Notifications">
                                <i data-feather="bell"></i>
                                <div class="pulse-wave"></div>
                            </a>
                            <ul class="dropdown-menu animated bounceIn">
                                <li class="header">
                                    <div class="p-20">
                                        <div class="flexbox">
                                            <div>
                                                <h4 class="mb-0 mt-0">Notifications</h4>
                                            </div>
                                            <div>
                                                <a href="#" class="text-danger">Clear All</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu sm-scrol">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum fermentum.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-primary"></i> Nunc fringilla lorem
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="component_notification.html">View all</a>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group nav-item d-xl-inline-flex d-none">
                            <a href="#" class="waves-effect waves-light nav-link btn-primary-light svg-bt-icon" title="" id="live-chat">
                                <i data-feather="message-circle"></i>
                            </a>
                        </li>

                        <li class="btn-group d-xl-inline-flex d-none">
                            <a href="#" class="waves-effect waves-light nav-link btn-primary-light svg-bt-icon dropdown-toggle" data-bs-toggle="dropdown">
                                <img class="rounded" src="#" alt="">
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item my-5" href="#"><img class="w-20 rounded me-10" src="" alt=""> English</a>

                            </div>
                        </li>

                        <li class="btn-group nav-item d-xl-inline-flex d-none">
                            <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link btn-primary-light svg-bt-icon" title="Full Screen">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li class="btn-group nav-item d-xl-inline-flex d-none">
                            <a href="#" data-toggle="control-sidebar" title="Setting" class="waves-effect waves-light nav-link btn-primary-light svg-bt-icon">
                                <i data-feather="sliders"></i>
                            </a>
                        </li>

                        <!-- User Account-->
                        <li class="dropdown user user-menu">
                            <a href="#" class="waves-effect waves-light dropdown-toggle w-auto l-h-12 bg-transparent p-0 no-shadow" title="User" data-bs-toggle="modal" data-bs-target="#quick_user_toggle">
                                <img src="~/Resources/images/avatar/avatar-13.png" class="avatar rounded-circle bg-primary-light h-40 w-40" alt="" />
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar-->
            <section class="sidebar position-relative">
                <div class="multinav">
                    <div class="multinav-scroll" style="height: 99%;">
                        <!-- sidebar menu-->
                        <ul class="sidebar-menu" data-widget="tree">

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-home"></i>
                                    <span>Dashboard </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="~/Home/Index"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Account Dashboard</a></li>
                                    <li><a href="~/Home/Index"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Operational Dashboard</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-database"></i>
                                    <span>Masters</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
                                            <span>Company</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-right pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="~/CompanyConfiguration/CompanyConfigurationIndex">
                                                    Company List
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/CompanySetUp/CompanySetUpIndex">
                                                    Company Setup
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/BranchMaster/BranchMasterIndex">
                                                    Branch Master
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/Financial/FinanceIndex">
                                                    Financial Year
                                                </a>
                                            </li>
                                        </ul>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
                                            <span>Group</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-right pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="~/GroupHead/GroupHeadIndex">
                                                    <span class="path1"></span><span class="path2"></span></i>Group Head
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/SubGroupHead/SubGroupHeadIndex">
                                                    <span class="path1"></span><span class="path2"></span></i>Sub Group Head
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
                                            <span>Tax</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-right pull-right"></i>
                                            </span>
                                        </a>

                                        <ul class="treeview-menu">
                                            <li class="treeview">
                                            <li>
                                                <a href="~/TaxMaster/TaxIndex"><span class="path1"></span><span class="path2"></span></i>Tax Master</a>
                                            </li>
                                            <li>
                                                <a href="~/TaxCategory/TaxCategory"><span class="path1"></span><span class="path2"></span></i>Tax Category</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>
                                            <span>Bill</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-right pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li class="treeview">
                                            <li><a href="~/InvoiceType/InvoiceTypeIndex">Invoice Type</a></li>
                                    </li>

                                    <li class="treeview">
                                    <li>
                                        <a href="~/BillType/BillTypeIndex">
                                            <span class="path1"></span><span class="path2"></span></i>Bill type
                                        </a>
                                    </li>
                                    <li class="treeview">                                   
                            </ul>

                            <li @* class="treeview" *@>
                                <a href="~/LedgerMaster/LedgerMaster">
                                    <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Ledger Master
                                </a>
                            </li>

                            <li>
                                <a href="~/AddressBookMaster/AddressBookIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Address Book</a>
                            </li>

                        </ul>


                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-truck"></i>
                                <span>Transport Master</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">



                                <li><a href="~/Place/PlaceIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Place</a></li>


                                <li><a href="~/BodyType/BodyTypeIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Body Type</a></li>
                                <li><a href="~/VehicleGroup/VehicleGroupIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vehicle Group</a></li>
                                <li><a href="~/VehicleType/VehicleTypeIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vehicle Type</a></li>
                                <li><a href="~/VehicleStatus/VehicleStatusIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vehicle Status</a></li>
                                <li><a href="~/VehicleMaster/VehicleMaterIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vehicle Master</a></li>
                            
                                <li><a href="~/GRType/GRTypeIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GR Type</a></li>


                            </ul>

                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-check"></i>
                                <span>Booking</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/GRNo/Index"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GRNo</a></li>
                                <li><a href="~/GR/GRIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GR</a></li>
                          
                                <li><a href="~/BillSubmission/BillSubmissionIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bill Submission</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Purchase</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                @* <li><a href="~/PurchaseOrder/PurchaseOrderIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Purchase Order</a></li> *@
                                <li><a href="~/ExpCredit/CreditNoteList"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Exp/Cr.Note Entry</a></li>
                                @* <li><a href="~/Purchase/PurchaseEntryIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Purchase Entry</a></li> *@
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-tags"></i>
                                <span>Sale</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Invoice/InvoiceIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invoice </a></li>

                                <li>
                                    <a href="~/CreditNote/CreditNoteIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Debit/Credit Note</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span>Accounts</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Voucher/VoucherIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Voucher Entry</a></li>
                                <li><a href="~/BillAdjustment/BillAdjustmentIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bill Adjustment</a></li>
                                <li><a href="~/BankReconciliation/BankReconciliationIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bank Reconciliation</a></li>

                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-file"></i>
                                <span>Contract</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Contract/ContractIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Create Contract</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-file-text-o" style="font-size:22px;"></i>
                                <span>Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                            <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-truck"></i>&nbsp;&nbsp;
                                        <span>Transport Reports</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </span>
                                    </a>
                                <ul class="treeview-menu">

                                        <li><a href="~/GRReport/GRReportIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GR Report</a></li>
                                        <li><a href="~/VehicleReport/VehicleReportIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vehicle Report</a></li>
                                        <li><a href="~/BillSubmissionReport/BillSubmissionReportIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bill Submission Report</a></li>
                                </ul>

                                    <a href="#">
                                        <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;
                                        <span>Account Reports</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/LedgerReport/LedgerReportIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Ledger</a></li>
                                        <li><a href="~/GroupSummaryReport/GroupSummaryReportIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Group Summary</a></li>
                                        <li><a href="~/TrialBalance/TrialBalanceIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Trial Balance</a></li>
                                        <li><a href="~/ProfitAndLoss/ProfitAndLossIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Profit & Loss</a></li>
                                        <li><a href="~/BalanceSheet/BalanceSheetIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Balance Sheet</a></li>
                                        <li><a href="~/BankReconciliationReport/BankReconciliationReportIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bank Reconciliation</a></li>
                                        <li><a href="~/DayBook/DayBookIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Day Book</a></li>
                                    </ul>
                                    <a href="#">
                                        <i class="fa fa-money"></i>&nbsp;&nbsp;
                                        <span>GST Reports</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </span>
                                    </a>
                                  @*   <ul class="treeview-menu">
                                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GST Report Sale</a></li>
                                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GST Report Purchase</a></li>
                                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GSTR1 & GSTR3B</a></li>
                                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GSTR2A</a></li>
                                    </ul> *@
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>&nbsp;&nbsp;
                                        <span>Account Register</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                      @*   <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Purchase Register</a></li>
                                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Purchase Return Register</a></li>
                                        *@
                                        <li><a href="~/ExpCreditNote/ExpCreditNoteIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Exp/CR.Note Register</a></li>
                                        <li><a href="~/InvoiceRegister/InvoiceRegisterIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invoice Register</a></li>
                                       @*  <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invoice Return Register</a></li> *@

                                        <li><a href="~/CashReceipt/CashReceiptIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Cash Receipt Register</a></li>

                                        <li><a href="~/DebitNote/Filter"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>INC/Debit Note Register</a></li>

                                        <li><a href="~/CashPayment/CashPaymentIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Cash Payment Register</a></li>

                                        <li><a href="~/BankReceipt/BankReceiptIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bank Receipt Register</a></li>
                                        <li><a href="~/BankPayment/BankPaymentIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bank Payment Register</a></li>
                                        @* <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Journal Book Register</a></li> *@
                                    </ul>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-clipboard"></i>&nbsp;&nbsp;
                                        <span>General Reports</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invoice Report</a></li>
                                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Purchase Report</a></li>
                                        <li><a href="~/ContractReport/ContractReportIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Contract Report</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i>
                                <span>User & Rolls</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/UserTypeMaster/UserTypeIndex"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Type Master</a></li>
                                <li><a href="~/UserMaster/UserMaster"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Master</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Login</a></li>
                            </ul>
                        </li>

                       @*  <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                <span>Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Builder</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dynamic Menu</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Profile</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Field Group</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Change Password</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Renew Software</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Designer</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Payment History</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Update Software</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Auto Invoice Log</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Import Master</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Update Ledger Op.bal</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Tally Export</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Email Logs</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Logs</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Location Logs</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Job Logs</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Gateway Transaction</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pagination</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Check Error in Accounts</a></li>
                                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Transaction Mismatch</a></li>
                            </ul>
                        </li> *@


                        <li>
                            <a href="~/Authenticate/Login">
                                <i class="fa fa-power-off"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                        </ul>


                    </div>
                </div>
            </section>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        @RenderBody();

        <!-- /.content-wrapper -->

        <footer class="main-footer bt-1">
            <div class="pull-right d-none d-sm-inline-block">
                <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">Purchase Now</a>
                    </li> -->
                </ul>
            </div>
            &copy; <script>document.write(new Date().getFullYear())</script> <a href="#">Guardians Infotech</a>. All Rights Reserved.
        </footer>
        <!-- Side panel -->
        <!-- quick_user_toggle -->
        <div class="modal modal-right fade" id="quick_user_toggle" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content slim-scroll3">
                    <div class="modal-body p-30 bg-white">
                        <div class="d-flex align-items-center mb-15 justify-content-between pb-30">
                            <h4 class="m-0">
                                User Profile
                                @* <small class="text-fade fs-12 ms-5">12 messages</small> *@
                            </h4>
                            <a href="#" class="btn btn-icon btn-danger-light btn-sm no-shadow" data-bs-dismiss="modal">
                                <span class="fa fa-close"></span>
                            </a>
                        </div>
                        <div>
                            <div class="d-flex flex-row">
                                <div class="">
                                    <!-- Dynamic Profile Image -->
                                    <img src="~/Resources/images/avatar/avatar-13.png" alt="user" class="rounded bg-danger-light w-150" width="100">
                                </div>
                                <div class="ps-20">
                                    <!-- Dynamic User Name -->
                                    <h5 class="mb-0">@ViewBag.UserName</h5>
                                    <!-- Dynamic User Role -->
                                    <p class="my-5 text-fade">@ViewBag.UserRole</p>
                                    <!-- Dynamic User Email -->
                                    <a href="mailto:@ViewBag.UserEmail">
                                        <span class="icon-Mail-notification me-5 text-success">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </span>
                                        @ViewBag.UserEmail
                                    </a>
                                    @*  <button class="btn btn-success-light btn-sm mt-5">
                                        <i class="ti-plus"></i> Follow
                                    </button> *@
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider my-30"></div>
                        <div>
                            <div class="d-flex align-items-center mb-30">
                                <div class="me-15 bg-primary-light h-50 w-50 l-h-60 rounded text-center">
                                    <span class="icon-Library fs-24">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                </div>
                                <div class="d-flex flex-column fw-500">
                                    <a href="extra_profile.html" class="text-dark hover-primary mb-1 fs-16">My Profile</a>
                                    <span class="text-fade">Account settings and more</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-30">
                                <div class="me-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
                                    <span class="icon-Write fs-24">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                </div>
                                <div class="d-flex flex-column fw-500">
                                    <a href="mailbox.html" class="text-dark hover-danger mb-1 fs-16">My Messages</a>
                                    <span class="text-fade">Inbox and tasks</span>
                                </div>
                            </div>
                            @*   <div class="d-flex align-items-center mb-30">
                                <div class="me-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
                                    <span class="icon-Group-chat fs-24">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                </div>
                                <div class="d-flex flex-column fw-500">
                                    <a href="setting.html" class="text-dark hover-success mb-1 fs-16">Settings</a>
                                    <span class="text-fade">Account Settings</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-30">
                                <div class="me-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
                                    <span class="icon-Attachment1 fs-24">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                    </span>
                                </div>
                                <div class="d-flex flex-column fw-500">
                                    <a href="extra_taskboard.html" class="text-dark hover-info mb-1 fs-16">Project</a>
                                    <span class="text-fade">Latest tasks and projects</span>
                                </div>
                            </div>
                        </div> *@
                            <div class="dropdown-divider my-30"></div>
                            <div>
                                <!-- Logout Button -->


                                <div class="d-flex flex-column fw-500">
                                    <a href="~/Authenticate/Login">
                                        <i class="fa fa-power-off"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </div>
                            @*    <div>
                            <div class="media-list">
                                <!-- Example Messages (You can make these dynamic as well) -->
                                <a class="media media-single px-0" href="#">
                                    <h4 class="w-50 text-gray fw-500">10:10</h4>
                                    <div class="media-body ps-15 bs-5 rounded border-primary">
                                        <p>Morbi quis ex eu arcu auctor sagittis.</p>
                                        <span class="text-fade">by Johne</span>
                                    </div>
                                </a>
                                <!-- Add more messages dynamically if needed -->
                            </div>
                        </div> *@
                        </div>
                    </div>
                </div>
            </div> <!-- /quick_user_toggle -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar">

                <div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger" data-toggle="control-sidebar"><i class="ion ion-close text-white"></i></span> </div>  <!-- Create the tabs -->
                <ul class="nav nav-tabs control-sidebar-tabs">
                    <li class="nav-item"><a href="#control-sidebar-home-tab" data-bs-toggle="tab"><i class="mdi mdi-message-text"></i></a></li>
                    <li class="nav-item"><a href="#control-sidebar-settings-tab" data-bs-toggle="tab"><i class="mdi mdi-playlist-check"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        <div class="flexbox">
                            <a href="javascript:void(0)" class="text-grey">
                                <i class="ti-more"></i>
                            </a>
                            <p>Users</p>
                            <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
                        </div>
                        <div class="lookup lookup-sm lookup-right d-none d-lg-block">
                            <input type="text" name="s" placeholder="Search" class="w-p100">
                        </div>
                        <div class="media-list media-list-hover mt-20">
                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-success" href="#">
                                    <img src="~/Resources/images/avatar/1.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Tyler</strong></a>
                                    </p>
                                    <p>Praesent tristique diam...</p>
                                    <span>Just now</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-danger" href="#">
                                    <img src="~/Resources/images/avatar/2.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Luke</strong></a>
                                    </p>
                                    <p>Cras tempor diam ...</p>
                                    <span>33 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-warning" href="#">
                                    <img src="~/Resources/images/avatar/3.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-primary" href="#">
                                    <img src="~/Resources/images/avatar/4.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-success" href="#">
                                    <img src="~/Resources/images/avatar/1.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Tyler</strong></a>
                                    </p>
                                    <p>Praesent tristique diam...</p>
                                    <span>Just now</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-danger" href="#">
                                    <img src="~/Resources/images/avatar/2.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Luke</strong></a>
                                    </p>
                                    <p>Cras tempor diam ...</p>
                                    <span>33 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-warning" href="#">
                                    <img src="~/Resources/images/avatar/3.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-primary" href="#">
                                    <img src="~/Resources/images/avatar/4.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.tab-pane -->
                    <!-- Settings tab content -->
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                        <div class="flexbox">
                            <a href="javascript:void(0)" class="text-grey">
                                <i class="ti-more"></i>
                            </a>
                            <p>Todo List</p>
                            <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
                        </div>
                        <ul class="todo-list mt-20">
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_1" class="filled-in">
                                <label for="basic_checkbox_1" class="mb-0 h-15"></label>
                                <!-- todo text -->
                                <span class="text-line">Nulla vitae purus</span>
                                <!-- Emphasis label -->
                                <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_2" class="filled-in">
                                <label for="basic_checkbox_2" class="mb-0 h-15"></label>
                                <span class="text-line">Phasellus interdum</span>
                                <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_3" class="filled-in">
                                <label for="basic_checkbox_3" class="mb-0 h-15"></label>
                                <span class="text-line">Quisque sodales</span>
                                <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_4" class="filled-in">
                                <label for="basic_checkbox_4" class="mb-0 h-15"></label>
                                <span class="text-line">Proin nec mi porta</span>
                                <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_5" class="filled-in">
                                <label for="basic_checkbox_5" class="mb-0 h-15"></label>
                                <span class="text-line">Maecenas scelerisque</span>
                                <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_6" class="filled-in">
                                <label for="basic_checkbox_6" class="mb-0 h-15"></label>
                                <span class="text-line">Vivamus nec orci</span>
                                <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_7" class="filled-in">
                                <label for="basic_checkbox_7" class="mb-0 h-15"></label>
                                <!-- todo text -->
                                <span class="text-line">Nulla vitae purus</span>
                                <!-- Emphasis label -->
                                <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_8" class="filled-in">
                                <label for="basic_checkbox_8" class="mb-0 h-15"></label>
                                <span class="text-line">Phasellus interdum</span>
                                <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_9" class="filled-in">
                                <label for="basic_checkbox_9" class="mb-0 h-15"></label>
                                <span class="text-line">Quisque sodales</span>
                                <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_10" class="filled-in">
                                <label for="basic_checkbox_10" class="mb-0 h-15"></label>
                                <span class="text-line">Proin nec mi porta</span>
                                <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>

        </div>
        <!-- ./wrapper -->



        <div id="chat-box-body">
            <div id="chat-circle" class="waves-effect waves-circle btn btn-circle btn-sm btn-warning l-h-50">
                <div id="chat-overlay"></div>
                <span class="icon-Group-chat fs-18"><span class="path1"></span><span class="path2"></span></span>
            </div>

            <div class="chat-box">
                <div class="chat-box-header p-15 d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button class="waves-effect waves-circle btn btn-circle btn-primary-light h-40 w-40 rounded-circle l-h-50" type="button" data-bs-toggle="dropdown">
                            <span class="icon-Add-user fs-22"><span class="path1"></span><span class="path2"></span></span>
                        </button>
                        <div class="dropdown-menu min-w-200">
                            <a class="dropdown-item fs-16" href="#">
                                <span class="icon-Color me-15"></span>
                                New Group
                            </a>
                            <a class="dropdown-item fs-16" href="#">
                                <span class="icon-Clipboard me-15"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                                Contacts
                            </a>
                            <a class="dropdown-item fs-16" href="#">
                                <span class="icon-Group me-15"><span class="path1"></span><span class="path2"></span></span>
                                Groups
                            </a>
                            <a class="dropdown-item fs-16" href="#">
                                <span class="icon-Active-call me-15"><span class="path1"></span><span class="path2"></span></span>
                                Calls
                            </a>
                            <a class="dropdown-item fs-16" href="#">
                                <span class="icon-Settings1 me-15"><span class="path1"></span><span class="path2"></span></span>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item fs-16" href="#">
                                <span class="icon-Question-circle me-15"><span class="path1"></span><span class="path2"></span></span>
                                Help
                            </a>
                            <a class="dropdown-item fs-16" href="#">
                                <span class="icon-Notifications me-15"><span class="path1"></span><span class="path2"></span></span>
                                Privacy
                            </a>
                        </div>
                    </div>
                    <div class="text-center flex-grow-1">
                        <div class="text-dark fs-18">Mayra Sibley</div>
                        <div>
                            <span class="badge badge-sm badge-dot badge-primary"></span>
                            <span class="text-muted fs-12">Active</span>
                        </div>
                    </div>
                    <div class="chat-box-toggle">
                        <button id="chat-box-toggle" class="waves-effect waves-circle btn btn-circle btn-danger-light h-40 w-40 rounded-circle l-h-50" type="button">
                            <span class="icon-Close fs-22"><span class="path1"></span><span class="path2"></span></span>
                        </button>
                    </div>
                </div>
                <div class="chat-box-body">
                    <div class="chat-box-overlay">
                    </div>
                    <div class="chat-logs">
                        <div class="chat-msg user">
                            <div class="d-flex align-items-center">
                                <span class="msg-avatar">
                                    <img src="~/Resources/images/avatar/2.jpg" class="avatar avatar-lg" alt="">
                                </span>
                                <div class="mx-10">
                                    <a href="#" class="text-dark hover-primary fw-bold">Mayra Sibley</a>
                                    <p class="text-muted fs-12 mb-0">2 Hours</p>
                                </div>
                            </div>
                            <div class="cm-msg-text">
                                Hi there, I'm Jesse and you?
                            </div>
                        </div>
                        <div class="chat-msg self">
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="mx-10">
                                    <a href="#" class="text-dark hover-primary fw-bold">You</a>
                                    <p class="text-muted fs-12 mb-0">3 minutes</p>
                                </div>
                                <span class="msg-avatar">
                                    <img src="~/Resources/images/avatar/3.jpg" class="avatar avatar-lg" alt="">
                                </span>
                            </div>
                            <div class="cm-msg-text">
                                My name is Anne Clarc.
                            </div>
                        </div>
                        <div class="chat-msg user">
                            <div class="d-flex align-items-center">
                                <span class="msg-avatar">
                                    <img src="~/Resources/images/avatar/2.jpg" class="avatar avatar-lg" alt="">
                                </span>
                                <div class="mx-10">
                                    <a href="#" class="text-dark hover-primary fw-bold">Mayra Sibley</a>
                                    <p class="text-muted fs-12 mb-0">40 seconds</p>
                                </div>
                            </div>
                            <div class="cm-msg-text">
                                Nice to meet you Anne.<br>How can i help you?
                            </div>
                        </div>
                    </div><!--chat-log -->
                </div>
                <div class="chat-input">
                    <form>
                        <input type="text" id="chat-input" placeholder="Send a message..." />
                        <button type="submit" class="chat-submit" id="chat-submit">
                            <span class="icon-Send fs-22"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Page Content overlay -->
        <!-- Vendor JS -->
        <script src="~/Resources/src/js/vendors.min.js"></script>
        <script src="~/Resources/src/js/pages/chat-popup.js"></script>
        <script src="~/Resources/assets/icons/feather-icons/feather.min.js"></script>



        @* 
    <script src="~/Resources/assets/vendor_components/apexcharts-bundle/irregular-data-series.js"></script>
    <script src="~/Resources/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script> *@
        <script src="~/Resources/assets/vendor_components/raphael/raphael.min.js"></script>
        <script src="~/Resources/assets/vendor_components/morris.js/morris.min.js"></script>
        <script src="~/Resources/assets/vendor_plugins/bootstrap-slider/bootstrap-slider.js"></script>
        <script src="~/Resources/assets/vendor_components/OwlCarousel2/dist/owl.carousel.js"></script>
        <script src="~/Resources/assets/vendor_components/flexslider/jquery.flexslider.js"></script>
        @* <script src="~/Resources/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> *@

        <script src="~/Resources/assets/vendor_components/ion-rangeSlider/js/ion.rangeSlider.min.js"></script>


        <!-- Solar Admin App -->
        @* <script src="~/Resources/src/js/demo.js"></script> *@
        <script src="~/Resources/src/js/template.js"></script>
        @* <script src="~/Resources/src/js/pages/dashboard.js"></script> *@
        @* <script src="~/Resources/src/js/pages/slider.js"></script> *@
        @* <script src="~/Resources/src/js/pages/range-sliders.init.js"></script> *@



        <!-- Vendor JS -->
        <script src="~/resources/src/js/vendors.min.js"></script>

        <script src="~/resources/assets/vendor_components/datatable/datatables.min.js"></script>
        <script src="~/resources/src/js/pages/data-table.js"></script>

        @RenderSection("Scripts", required: false)
</body>

</html>
<script>
    // Pagination configuration
    const rowsPerPage = 5;

    function setupPagination(tableBodyId, paginationId) {
        const rows = $(`#${tableBodyId} tr`);
        const rowsCount = rows.length;
        const pageCount = Math.ceil(rowsCount / rowsPerPage);
        let currentPage = 1;

        // Generate pagination buttons
        function generatePagination() {
            $(`#${paginationId}`).empty();
            for (let i = 1; i <= pageCount; i++) {
                $(`#${paginationId}`).append(`
                        <li class="page-item ${i === 1 ? 'active' : ''}">
                            <a class="page-link" href="#" onclick="goToPage(${i}, '${tableBodyId}', '${paginationId}')">${i}</a>
                        </li>
                    `);
            }
        }

        // Display rows for the selected page
        function displayRows(page) {
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            rows.hide();
            rows.slice(start, end).show();
        }

        // Handle page navigation
        window.goToPage = function (page, bodyId, paginationId) {
            if (page < 1 || page > pageCount) return;
            currentPage = page;
            displayRows(page);

            $(`#${paginationId} li`).removeClass('active');
            $(`#${paginationId} li:nth-child(${page})`).addClass('active');
        }

        // Initialize pagination
        displayRows(1);
        generatePagination();
    }
</script>
